@using Mentoring.OfficeBuilder.Pages.SVG
@using Mentoring.OfficeBuilder.Helpers

@page "/svg"

@inherits SVGBase
    <div class="rTable">
        <div class="rTableRow">
            <div class="rTableHead"><strong>SVG</strong></div>
            <div class="rTableHead"><span style="font-weight: bold;">Uploud</span></div>
        </div>
        <div class="rTableRow">
            <input type="file" @ref=inputTypeFileElement /><button @onclick=OnReadFile>Read file</button>
            @if (Svgs != null)
            {
                @foreach (var svg in Svgs)
                {
                    <TreeBuilder Model=svg OnClick=OnClick/>
                }

                <button @onclick=SaveModelsAsync>Save file</button>
            }
        </div>

    </div>

