@using Mentoring.OfficeBuilder.Pages.SVG
@using Mentoring.OfficeBuilder.Helpers

@page "/svg"

@inherits SVGBase
<div class="container ">
    <div class="column">
        <input type="file" @ref=inputTypeFileElement /><button @onclick=OnReadFile>Read file</button>
        @if (UploadedSvg != null)
        {
            <SvgRenderView Model=UploadedSvg OnClick=OnClickAddTransaction />

            <button @onclick=SaveModelsAsync>Save file</button>
        }
    </div>
    <div class="column">
        <div>
            <Select SvgIds=@SvgIds SvgClicked=SvgClicked></Select>
        </div>
        <div>
            <SvgRenderView Model=Svg OnClick=OnClickApplyTransaction />
        </div>
    </div>

</div>

